.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url("https://coursesmarts.tk/star.gif");
    height: 16px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url("https://coursesmarts.tk/star.gif") left -322px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -16px;
}

.rateit .rateit-selected
{
    background: url("https://coursesmarts.tk/star.gif") left -32px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}

.rateit .rateit-preset
{
    background: url("https://coursesmarts.tk/star.gif") left -32px;
}

.rateit .rateit-preset-rtl
{
    background: url("https://coursesmarts.tk/star.gif") left -32px;
}

.rateit button.rateit-reset
{
    background: url("https://coursesmarts.tk/css/img/delete.gif") 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}

div.bigstars div.rateit-range
{
    background: url("https://coursesmarts.tk/star-white32.png");
    height: 32px;
}
 
div.bigstars div.rateit-hover
{
    background: url("https://coursesmarts.tk/star-gold32.png");
}
 
div.bigstars div.rateit-selected
{
    background: url("https://coursesmarts.tk/star-gold32.png");
}
 
div.bigstars div.rateit-reset
{
    background: url("https://coursesmarts.tk/star-black32.png");
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover
{
    background: url("https://coursesmarts.tk/star-white32.png");
}

div.bigload div.rateit-range
{
    background: url("https://coursesmarts.tk/weight_bw.png");
    height: 32px;
}
 
div.bigload div.rateit-hover
{
    background: url("https://coursesmarts.tk/weight.png");
}
 
div.bigload div.rateit-selected
{
    background: url("https://coursesmarts.tk/weight.png");
}
 
div.bigload div.rateit-reset
{
    background: url("https://coursesmarts.tk/weight_bw.png");
    width: 32px;
    height: 32px;
}
 
div.bigload div.rateit-reset:hover
{
    background: url("https://coursesmarts.tk/weight_bw.png");
}

.btnok{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btnok:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor:pointer;
  color: black;
}

.btncancel {
  background: #ff6e4a;
  background-image: -webkit-linear-gradient(top, #ff6e4a, #b82e2e);
  background-image: -moz-linear-gradient(top, #ff6e4a, #b82e2e);
  background-image: -ms-linear-gradient(top, #ff6e4a, #b82e2e);
  background-image: -o-linear-gradient(top, #ff6e4a, #b82e2e);
  background-image: linear-gradient(to bottom, #ff6e4a, #b82e2e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btncancel:hover {
  background: #fa1212;
  background-image: -webkit-linear-gradient(top, #fa1212, #800000);
  background-image: -moz-linear-gradient(top, #fa1212, #800000);
  background-image: -ms-linear-gradient(top, #fa1212, #800000);
  background-image: -o-linear-gradient(top, #fa1212, #800000);
  background-image: linear-gradient(to bottom, #fa1212, #800000);
  text-decoration: none;
  color: black;
  cursor:pointer;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.ab_error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.ab_success {
    background:#e9ffd9 url('https://coursesmarts.tk/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.ab_warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.ab_notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}